.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary{
    background-color: rgb(3, 30, 70);
    color: white;
    width: 300px;
}
.btn-primary:hover{
    background-color: transparent;
    border-color: rgb(3, 30, 70);
    /* color: rgb(3, 30, 70); */
}
.btn-secondary{
    width: 300px;
    background-color: transparent;
    color: white;
    border-color: rgb(3, 30, 70);
}
.btn-secondary:hover{
    background-color: rgb(3, 30, 70);
    color: white;
}